@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 81 43% 100%;
    --ring: 81 53% 35%;
    --input: 81 5% 92%;
    --muted: 81 26% 85%;
    --accent: 81 9% 85%;
    --border: 81 5% 92%;
    --popover: 81 43% 100%;
    --primary: 81 53% 35%;
    --secondary: 81 9% 85%;
    --background: 81 43% 100%;
    --foreground: 81 57% 1%;
    --destructive: 16 96% 37%;
    --card-foreground: 81 57% 1%;
    --muted-foreground: 81 10% 27%;
    --accent-foreground: 81 9% 25%;
    --popover-foreground: 81 57% 1%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 81 9% 25%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --card: 81 32% 0%;
    --ring: 81 53% 35%;
    --input: 81 5% 11%;
    --muted: 81 26% 15%;
    --accent: 81 6% 12%;
    --border: 81 5% 11%;
    --popover: 81 32% 0%;
    --primary: 81 53% 35%;
    --secondary: 81 6% 12%;
    --background: 81 32% 0%;
    --foreground: 81 28% 97%;
    --destructive: 16 96% 60%;
    --card-foreground: 81 28% 97%;
    --muted-foreground: 81 10% 73%;
    --accent-foreground: 81 6% 72%;
    --popover-foreground: 81 28% 97%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 81 6% 72%;
    --destructive-foreground: 0 0% 0%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}